<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.javinezpaul.gradeportalschool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gportallogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gportallogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GradePortalSchool"
        android:usesCleartextTraffic="true">
        <activity android:name=".Rank"></activity>
        <activity android:name=".TeacherMainScreen" />
        <activity android:name=".ViewAy" />
        <activity android:name=".ViewSubjects" />
        <activity android:name=".Testinganbutton" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".addsection" />
        <activity android:name=".addcollege" />
        <activity android:name=".addprograms" />
        <activity android:name=".addsubject" />
        <activity android:name=".adday" />
        <activity android:name=".GradesAll" />
        <activity android:name=".GradesAll2" />
        <activity android:name=".Login" />
        <activity android:name=".Login2" />
        <activity android:name=".RegisterTeacher" />
        <activity android:name=".School" />
        <activity android:name=".SchoolMainScreen" />
        <activity android:name=".StudentRegister" />
        <activity android:name=".TeacherDrawer" />
        <activity android:name=".TeacherSubject" />
        <activity android:name=".TeacherSubjects" />
        <activity android:name=".ViewCollege" />
        <activity android:name=".ViewPrograms" />
        <activity android:name=".ViewSections" />
        <activity android:name=".ViewTeachers"/>
        <activity android:name=".ViewStudents"/>
        <activity android:name=".StudentDrawer" />
        <activity android:name=".StudentJoinCode" />
        <activity android:name=".StudentMainScreen2" />
        <activity android:name=".StudentMianScreen" />
        <activity android:name=".newcode"/>
    </application>

</manifest>